RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/ai2/public/%{REQUEST_FILENAME} -f [OR]
RewriteCond %{DOCUMENT_ROOT}/ai2/public/%{REQUEST_FILENAME} -d
RewriteRule ^(.*)$ public/$1 [L]